.btn-cv {
    display: inline-block;
    padding: 14px 70px; /* Bouton bien long */
    background: linear-gradient(135deg, #8f87f1, #e40d5c); /* Dégradé pro */
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-cv:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}